# Node.js
node_modules/
dist/
*.log

# Angular
frontend/node_modules/
frontend/dist/
frontend/e2e/

# Backend (si utiliza Node.js y npm)
backend/node_modules/
backend/*.log

# IDE/Editor specific
.idea/
.vscode/

# Configuración local
/backend/.env

#Environments
/environments/

script.sh
script.bat
scriptPG.sh
