.container {
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .table th {
    background-color: #f8f9fa;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f3f4f5;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .table-sm th, .table-sm td {
    padding: 0.5rem;
  }
  
  .btn-success {
    margin-bottom: 10px;
    margin-top: 13px;
  }
  
  .btn-primary, .btn-danger {
    margin-right: 5px; 
  }

  .btn{
    margin: 2px;
  }