<div class="container">
  <h2>Listado de Categorías</h2>

  <a class="btn btn-success" [routerLink]="['nueva-categoria']">Nueva Categoría</a>

  @if (categories && categories.length > 0) {
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (category of categories; track category) {
          <tr>
            <td>{{ category.nombre }}</td>
            <td>{{ category.descripcion }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm"
                [routerLink]="['editar-categoria', category.id]"
              >Editar</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (categories && categories.length === 0) {
    <div>
      No hay categorías.
    </div>
  }
</div>
