<div class="container">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" formControlName="correo" placeholder="Ingrese su correo electrónico">
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="contraseñaHash" placeholder="Ingrese su contraseña">
      </div>
  
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  