<div class="container">
    <h2>Listado de Categorías</h2>
  
    <ul class="list-group" *ngIf="categories && categories.length > 0">
      <li class="list-group-item" *ngFor="let category of categories">
        {{ category.nombre }}
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" (click)="editCategory(category)">Editar</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)">Eliminar</button>
        </div>
      </li>
    </ul>
  
    <div *ngIf="categories && categories.length === 0">
      No hay categorías.
    </div>
  </div>
  