<form [formGroup]="newNoteForm" (submit)="sendData()">
    <div class="mb-3">
      <label for="title" class="form-label">Título</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">Contenido</label>
      <textarea class="form-control" id="content" formControlName="content" required></textarea>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Categoría</label>
      <select class="form-control" id="category" formControlName="categoriaId" required>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.nombre }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>